.header {
    background-color: CornflowerBlue;
  }
  
  .header h1, p {
    text-align: center;
  }
  
  .about-me {
    font-size: 20px;
    opacity: 50%;
  }
  
  .title {
    font-weight: bold;
    background-color: Azure;
  }
  
  body {
    font-family: Georgia;
    background-image: url('https://content.codecademy.com/courses/learn-css-selectors-visual-rules/hypnotize_bg.png')
  }